@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #fafafa url(./assets/frozen-2-4k_1553073911.jpg) no-repeat local 0px -600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardizinho{
    position: relative;
    width:  400px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(50, 50, 50, 0.2);
    display:flex;
}

.card::-webkit-scrollbar{
    width: 0;

}


.card-cover{
    position: absolute;
    width: 100%;
    height: 160px;
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    
}

.card-header{
    text-align: center;
    letter-spacing: 1px;
    border-radius:50%;
}

.card-header img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 0 8px 8px rgba(0, 0,0, 0.2);

}

.card-header h1{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.card-header h2{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #454545;
}

.card-main{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: none;
}

.card-content {
    padding-top: 20px;
    padding-left: 20px;
}

#contact.card-content {
    width: 45%;
}

.card-title {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  
}

p.card-desc{
    padding-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #636b6f;
    text-align: justify;
}

.card-social{
    padding-top: 20px;
    display: inline-flex;
    width: 40%;
    margin-bottom: 30px ;
    align-items: justify;
    
}

.card-social a{
    margin-right: 20px;
    width: 32px;
    height:32px;
    color: #636b6f;
}

.card-buttons{
    position:relative;
    display: flex; 
    
    z-index: 999;
    justify-content: space-between;
    width: 100%;
}

.card-buttons button {
    flex: 1 1 auto;
    padding: 15px 5px 16px;
    background: none;
    color: #636b6f;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-buttons button.active,.card-buttons button:hover {
    color: #15161a;
    border-bottom: 3px solid #69b8f1;
    background: linear-gradient(to bottom, rgba(99, 107,111,0)0%,
                                           rgba(96,96,96,0) 44%,
                                            rgba(19, 243, 251, 0.2)100%)
}

.card-section{
    display: none;
    height: 270px;
    overflow-y: auto;
}

.card-section.active {
    display: flex;

}

/*card experience */

.card-work{
    position: relative;
    margin-top: 30px;
}

.card-work::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 42px;
    background: linear-gradient(to top,
    rgba(99,107,111,0)0%,
    #69b8f1 100%);
 
}

.card-item{
    position: relative;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    z-index: 1;
   
}

.card-item::after{
    content: attr(data-work);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 37px;
    border:2px solid #fff;
    border-radius: 50%;
    background: #69b8f1;
    text-indent: -35px;
    font-size: 11px;
    color: #636b6f;
}

.card-item-title{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}

.card-item-desc{
    line-height: 1.5;
    font-size: 14px;
    color: #636b6f;
    text-align: justify;
}

/* card contact */

.card-contact-wrapper{
    margin-top: 20px;
}

.card-contact{
    display: flex ;
    align-items:justify;
    justify-content: space-between;
    justify-items: left;
    text-align: left;
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.6;
    color: #636b6f;
    width: 100%;
    margin-right: 12px;
    padding-right: 12px;
}


.contact-me {
    width: 50% ;
    margin-top: 25px;
    padding: 13px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(to right,
                                rgba(116, 211, 238, 0.8)0%,
                                rgba(22, 74, 134, 0.8) 100%);
    color: #fff;
    box-shadow: 0 4px 6px
                rgba(0,0,0,0.15);
                cursor: pointer;


}

